<div class="container">
  
    <div class="panel "> <h2>Cadastro de Mensalistas</h2></div>
    <form >
        
        <div class="form-group row">
          <label for="id" class="col-sm-2 col-form-label">ID:</label>
          <div class="col-sm-7">
          <input id="id" type="text" disabled class="form-control"
                             name="id"
                             [(ngModel)]="newBook.id" />
            </div>
          </div>

        <div class="form-group row">
          <label for="cpf" class="col-sm-2 col-form-label">CPF:</label>
            <div class="col-sm-7">
              <input id="cpf" type="number" class="form-control"
                              name="cpf"
                              [(ngModel)]="newBook.cpf" />
             </div>
        </div>                              
        <div class="form-group row">
          <label for="nome" class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-7">                              
             <input type="text" id="nome" class="form-control"
                              name="nome"
                              [(ngModel)]="newBook.nome" />
            </div>
        </div>                  
        <div class="form-group row">
          <label for="telefone" class="col-sm-2 col-form-label">Telefone:</label>
            <div class="col-sm-7">
              <input type="text"  id="telefone" class="form-control"
                              name="telefone"
                              [(ngModel)]="newBook.telefone" />
            </div>
        </div>                                
        <div class="form-group row">
          <label for="marca" class="col-sm-2 col-form-label">Marca:</label>
            <div class="col-sm-7">                              
             <input type="text" id="marca" class="form-control"
                                name="marca"
                                [(ngModel)]="newBook.marca" />
            </div>
        </div>                                    
                                                                    
        <div class="form-group row">
          <label for="placa" class="col-sm-2 col-form-label">Placa:</label>
            <div class="col-sm-7">
              <input type="text"  id="placa" class="form-control"
                                    name="placa"
                                    [(ngModel)]="newBook.placa" />
            </div>
        </div>

        <div class="form-group row">
          <label for="diavencimento" class="col-sm-2 col-form-label">Vencimento:</label>
            <div class="col-sm-7">
              <input type="text"  id="diavencimento" class="form-control"
                                    name="diavencimento"
                                    [(ngModel)]="newBook.diavencimento" />
            </div>
        </div>

        <div class="form-group row">
          <label for="situacao" class="col-sm-2 col-form-label">Situacao:</label>
            <div class="col-sm-7">
              <input type="text"  id="situacao" class="form-control"
                                    name="situacao"
                                    [(ngModel)]="newBook.situacao" />
            </div>
        </div>


     <p>
        <button type="button"
                     class="btn btn-primary"
                     (click)="addBook(newBook)">Submit</button>
        <button type="button"
                     class="btn btn-warning"
                     (click)="cancelAdd()">Cancel</button>
      </p>
     </form>
</div>
